<mat-toolbar color="primary">
    <mat-toolbar-row>
        <ul class="navigation">
            <li> <button mat-button> <mat-icon> toc </mat-icon> သုံးစွဲယူနစ် </button> </li>
            <li> <button mat-button> မီတာအမှတ် </button> </li>
            <li> <button mat-button> လယ်ဂျာစာအုပ် </button> </li>
            <li> <button mat-button> ငွေစာရင်း </button> </li>
            <li> <button mat-button> ယူနစ်အလွှာသတ်မှတ်ချက် </button> </li>
            <li> <button mat-button> မီတာများ </button> </li>
        </ul>
    </mat-toolbar-row>
</mat-toolbar>