<mat-toolbar color="primary">
    <mat-toolbar-row>
        <ul class="navigation">
            <li> <button mat-button (click)="drawer.toggle()"> <mat-icon> menu </mat-icon> </button> </li>
        </ul>
    </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container autosize>
    <mat-drawer #drawer mode="side">
        <app-side-navigation></app-side-navigation>
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState === true" (closed)="panelOpenState === false" [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title> မီတာရုံးစာရင်းများ {{ data | regional | async }} </mat-panel-title>
                <mat-panel-description> မီတာရုံးများအား စီမံခန့်ခွဲခြင်းများပြုလုပ်ရန် </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-paginator [pageSizeOptions]="[15, 30, 60, 120]" class="paginator"></mat-paginator>

              <!-- <div class="table-header">
                <button mat-raised-button color="primary" (click)="exportAsExcelFile()"> <mat-icon> cloud_download </mat-icon> Excel ဖိုင်ရယူမည် </button> 
              </div> -->

              <table mat-table [dataSource]="tableData" class="table" matSort (matSortChange)="sortData($event)">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                    <td mat-cell *matCellDef="let element"> 0000{{ element.id }} </td>
                  </ng-container>
                  
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> မီတာရုံးအမှတ် </th>
                  <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                </ng-container>

                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> မြို့နယ် </th>
                    <td mat-cell *matCellDef="let element"> {{ element.region.name }} </td>
                  </ng-container>

                <ng-container matColumnDef="region">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ပြည်နယ်/တိုင်း </th>
                    <td mat-cell *matCellDef="let element"> {{ element.region.title }} </td>
                </ng-container>

                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> လိပ်စာ </th>
                    <td mat-cell *matCellDef="let element"> {{ element.address }} </td>
                </ng-container>

                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ဖုန်းနံပါတ် </th>
                    <td mat-cell *matCellDef="let element"> {{ element.phone }} </td>
                </ng-container>

                <ng-container matColumnDef="other">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> အခြားအကြောင်းအရာ </th>
                    <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
                </ng-container>
              
                <ng-container matColumnDef="created_date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> စာရင်းပြုစုသည့်ရက်စွဲ </th>
                  <td mat-cell *matCellDef="let element"> {{ element.created_date | date: 'short' }} </td>
                </ng-container>
              
                <ng-container matColumnDef="updated_date">
                  <th mat-header-cell *matHeaderCellDef> ပြင်ဆင်သည့်ရက်စွဲ </th>
                  <td mat-cell *matCellDef="let element"> {{ element.updated_date | date: 'short' }} </td>
                </ng-container>

                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef> အခြေအနေ </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-slide-toggle class="example-margin" color="primary" [checked]="element.active === 1" (change)="statusChange(element)"> 
                            <span *ngIf="element.active === 0"> အသုံးပြုခြင်းပိတ်ထားပါသည် </span>
                            <span *ngIf="element.active === 1"> အသုံးပြုရန်အသင့်ရှိသည် </span>
                        </mat-slide-toggle>
                    </td>
                  </ng-container>
        
                <ng-container matColumnDef="option">
                    <th mat-header-cell *matHeaderCellDef> ရွေးချယ်စရာ </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary" matTooltip="ပြင်ဆင်ရန်" [matTooltipPosition]="'above'" (click)="openEditMeterOffice(element)"> 
                            <mat-icon> cloud_upload </mat-icon> 
                        </button>

                        <!-- <button mat-icon-button color="primary" matTooltip="{{ element.name }} အတွင်းရှိ မီတာရုံးတည်ဆောက်ရန်" [matTooltipPosition]="'above'" (click)="openAddMeterOffice(element)"> 
                          <mat-icon> playlist_add </mat-icon> 
                        </button> -->

                        <!-- <button mat-icon-button color="primary" matTooltip="အသေးစိတ်ကြည့်ရန်" [matTooltipPosition]="'above'" routerLink="/regional_detail/:id"> 
                          <mat-icon> assessment </mat-icon> 
                        </button> -->
                        
                    </td>
                  </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
  </mat-drawer-container>


<ng-template #snackBarTemplate>
  <p class="snackbar-message"> {{ actionMessage }} </p>
</ng-template>

<ng-template #openEditMeterOfficeTemplate>
    <mat-nav-list>
      <h3> မီတာရုံးစာရင်းပြုလုပ်ရန် </h3>
  
      <form [formGroup]="meterOfficeForm" (ngSubmit)="editMeterOfficeInfo()" class="state-form">
        <mat-form-field hintLabel="မီတာရုံးအမည်ထည်ရန်" class="input-sheet">
          <input matInput type="text" formControlName="name" />
        </mat-form-field>

        <mat-form-field hintLabel="လိပ်စာထည့်ရန်" class="input-sheet">
            <input matInput type="text" formControlName="address" />
        </mat-form-field>

        <mat-form-field hintLabel="ဖုန်းနံပါတ်" class="input-sheet">
            <input matInput type="text" formControlName="phone" />
        </mat-form-field>

        <mat-form-field hintLabel="အခြားအကြောင်းအရာ" class="input-sheet">
            <input matInput type="text" formControlName="description" />
        </mat-form-field>
  
          <button mat-raised-button color="primary" class="state-save"> 
            <mat-icon> save </mat-icon> သိမ်းမည်
          </button>
      </form>
    </mat-nav-list>
</ng-template>