<mat-toolbar color="primary" class="app-header">
  <mat-toolbar-row>
    <div class="dashboard-menu">
      <a><h3>MOEE</h3></a>
    </div>
    <div>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon class="menu-icon">menu</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="app-body">
  <mat-drawer #drawer mode="side" opened>
    <app-side-navigation></app-side-navigation>
  </mat-drawer>
  <mat-drawer-content>

  </mat-drawer-content>
</mat-drawer-container>
