<mat-toolbar color="primary">
    <mat-toolbar-row>
        <ul class="navigation">
            <li> <button mat-button (click)="drawer.toggle()"> <mat-icon> menu </mat-icon> </button> </li>
        </ul>
    </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container autosize>
    <mat-drawer #drawer mode="side">
        <!-- <app-side-navigation></app-side-navigation> -->
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="butt on" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container>