/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.navigation { width: 100%; display: flex; flex-direction: row; margin: 0px; padding: 0px; }
.navigation > li { list-style: none; font-size: 12px; }
.mat-drawer-inner-container { background-color:rgba(63,81,181, 0.9); color: #fff; }
.mat-tree-node { width: 250px; background-color:rgba(63,81,181, 0.9); color: #fff; padding-left: 0px!important; }
.mat-drawer-content { min-height: 500px; }

.mat-hint,.mat-error { padding-top: 5px; padding-bottom: 5px; }
.table { width: 100%; }
.snackbar-message { margin: 0px; padding: 0px; text-align: center; }
.table-header { width: 100%; display: flex; flex-direction: row; justify-content: flex-end; }
.sheet-form,
.sheet-form > .mat-form-field { width: 100%; }
.sheet-form > button { width: 100%; margin-top: 20px; }
.filter { display: flex; flex-direction: row-reverse; }
.cdk-overlay-pane { max-width: 50%!important; }
.flex-layout { width: 100%;  display: flex; flex-direction: row; }
.block { width: 30%; }
.block-left { width: 60%; padding-left: 20px; }
.block-left > form > .mat-form-field { width: 100%; }
.block-left > form > button { margin-top: 30px; }